-
	var izziDemoCDN = "https://gitlab.com/workwithizzi/cdn/raw/master/html-sample_data/"

	var useExternalImages = true

	var site = {
		"meta": {
			"url": "exampleweb.site",
			"title": "Default site meta title",
			"keywords": "default keywords, pug, html5, snippets",
			"description": "This is the default meta description for the website.",
			"rssLink": "/rss"
		},
		"copywrite": "© 2018 Your Company",
		"credits": "Built By Us",
		"contact": {
			"name": "Hugh Gaskins",
			"phone": "483-593-2394",
			"email": "hello@exampleweb.site"
		},
	}

	var navItems = [
		{
			"title": "Home",
			"path": "/"
		},
		{
			"title": "HTML Text Elements",
			"path": "/text.html"
		},
		{
			"title": "HTML Media Elements",
			"path": "/media.html"
		},
		{
			"title": "HTML Form Elements",
			"path": "/forms.html"
		}
	]