//- Site Home Page
//- -----------------------------------------------------------------

extends partials/_base

block vars
	- var metaDescription = 'Meta-description for the page that overrides the default in partials/base.pug';
	- var bodyClass = 'page--home';

block title
	//- title !{SITE.meta.title} | !{PGHOME.meta.title}
	title Page Title


//- -----------------------------------
//- Page Main-Content Starts Here
//- -----------------------------------
block content
	//- Feel free to remove everything below this
	//- and start doing your own thing.

	h1 Home Page H1 Heading
